body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
}

.form-container label,
.form-container input,
.form-container textarea {
    display: block;
    margin-bottom: 15px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}