table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a:link, a:visited {
    border-radius: 3px;
    background-color: #f44336;
    color: white;
    padding: 4px 7px;
    text-align: right;
    text-decoration: none;
    display: inline-block; 
}

a:hover, a:active {
    background-color: Blue;
}

.nav-bar{
    margin-bottom: 0.5%;
}
